%p Test

%ul
  %li= link_to I18n.t('view.layouts._footer.about.link'), '#', :title => I18n.t('view.layouts._footer.about.title')
  %li= link_to I18n.t('view.layouts._footer.privacy.link'), '#', :title => I18n.t('view.layouts._footer.privacy.title')
  %li= link_to I18n.t('view.layouts._footer.help.link'), '#', :title => I18n.t('view.layouts._footer.help.title')